/Tasca_S1_05_JoanCaballero/
/Tasca_S1_05_JoanCaballero/n1exercici1/
/Tasca_S1_05_JoanCaballero/n1exercici2/
/Tasca_S1_05_JoanCaballero/n1exercici3/
/Tasca_S1_05_JoanCaballero/n1exercici4/
/Tasca_S1_05_JoanCaballero/n1exercici5/
/Tasca_S1_05_JoanCaballero/readme.txt
/Tasca_S1_05_JoanCaballero/Tasca_S1_05_JoanCaballero.iml
